    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
}

nav {
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px silver;
    position: relative;
}

nav img {
    position: absolute;
    width: 55px;
    left: 100px;
}

nav i {
    position: absolute;
    right: 100px;
    font-size: 20px;
    cursor: pointer;
}

nav .ul {
    display: flex;
}

nav .ul .s {
    margin-left: 30px;
}

nav .ul .li {
    font-size: 25px;
    transition: transform .3s ease-out;
}

nav .ul .li:hover {
    transform: scale(1.1);
}

nav .ul .a  {
    color: #000;
}

/* --------------------------------------------- */

.viewport {
    width: 100%;
    padding: 0 10em;
    padding-top: 20px;
}

.viewport .img {
    width: 100%;
    height: 80vh;
    background: url("https://images.unsplash.com/photo-1628358011826-7f3b8724239f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    padding: 50px;
    position: relative;
    z-index: 1;
}

.viewport .img::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.viewport .img .text-content h1{
    font-size: 4.5em;
    color: #fff;
    margin-bottom: 50px;
}

.viewport .img .text-content p {
    color: #fff;
}

.resena {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.resena-content {
    width: 80%;
    display: flex;
    background: #c4c4c4;
    border-radius: 20px;
    padding: 10px;
}

.resena .cara img{
    width: 100px;
    border-radius: 50%;
    border: 2px solid black;
}

.resena .resena-content .text-area {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-left: 20px;
}

.resena .resena-content .text-area .stars {
    margin-top: 5px;
    margin-left: 5px;
}

.resena .resena-content .text-area .stars i {
    color: #fffb00;
}

.resena .resena-content .text-area .message {
    margin-top: 10px;

}

.resena .resena-content .text-area .message p {
}

.resena .resena-content .text-area .name h2{
    font-size: 30px;
    font-weight: 400;
}


/* ------------------------------ */

.ads {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: 20px 0;
    grid-gap: 10px;
}

.ads article {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    padding: 20px;
    border-radius: 5px;
}

.ads .procesadores {
    background: url("https://images.unsplash.com/photo-1611275484845-52a71f2b0a6a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ads article p {
    color: #fff;
}

.ads article .title {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.ads article .title h2 {
    color: #fff;
    font-size: 30px;
}