    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
}



nav {
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px silver;
    position: relative;
    overflow-x: hidden;
    transition: background .3s ease-out;
}

nav img {
    position: absolute;
    width: 55px;
    left: 100px;
}

.toggleWrapper {
    position: absolute;
    top: 20px;
    right: -100px;
    overflow: hidden;
    padding: 0 200px;
    color: #b4d3ff;
  }
  
  .toggleWrapper input {
    position: absolute;
    left: -99em;
  }
  
  .toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 90px;
    height: 50px;
    background-color: #83d8ff;
    border-radius: 84px;
    -webkit-transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  .toggle:before {
    content: 'AM';
    position: absolute;
    left: -50px;
    top: 15px;
    font-size: 18px;
  }
  
  .toggle:after {
    content: 'PM';
    position: absolute;
    right: -48px;
    top: 15px;
    font-size: 18px;
    color: #749ed7;
  }
  
  .toggle__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 3px;
    left: 3px;
    width: 44px;
    height: 44px;
    background-color: #ffcf96;
    border-radius: 50px;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
            box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    -webkit-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  .toggle__handler .crater {
    position: absolute;
    background-color: #e8cda5;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    border-radius: 100%;
  }
  
  .toggle__handler .crater--1 {
    top: 18px;
    left: 10px;
    width: 4px;
    height: 4px;
  }
  
  .toggle__handler .crater--2 {
    top: 28px;
    left: 22px;
    width: 6px;
    height: 6px;
  }
  
  .toggle__handler .crater--3 {
    top: 10px;
    left: 25px;
    width: 8px;
    height: 8px;
  }
  
  .star {
    position: absolute;
    background-color: #fff;
    -webkit-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 50%;
  }
  
  .star--1 {
    top: 10px;
    left: 35px;
    z-index: 0;
    width: 30px;
    height: 3px;
  }
  
  .star--2 {
    top: 18px;
    left: 28px;
    z-index: 1;
    width: 30px;
    height: 3px;
  }
  
  .star--3 {
    top: 27px;
    left: 40px;
    z-index: 0;
    width: 30px;
    height: 3px;
  }
  
  .star--4, .star--5, .star--6 {
    opacity: 0;
    -webkit-transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  .star--4 {
    top: 16px;
    left: 11px;
    z-index: 0;
    width: 2px;
    height: 2px;
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
  
  .star--5 {
    top: 32px;
    left: 17px;
    z-index: 0;
    width: 3px;
    height: 3px;
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
  
  .star--6 {
    top: 36px;
    left: 28px;
    z-index: 0;
    width: 2px;
    height: 2px;
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
  
  input:checked + .toggle {
    background-color: #749dd6;
  }
  
  input:checked + .toggle:before {
    color: #749ed7;
  }
  
  input:checked + .toggle:after {
    color: #b4d3ff;
  }
  
  input:checked + .toggle .toggle__handler {
    background-color: #ffe5b5;
    -webkit-transform: translate3d(40px, 0, 0) rotate(0);
            transform: translate3d(40px, 0, 0) rotate(0);
  }
  
  input:checked + .toggle .toggle__handler .crater {
    opacity: 1;
  }
  
  input:checked + .toggle .star--1 {
    width: 2px;
    height: 2px;
  }
  
  input:checked + .toggle .star--2 {
    width: 4px;
    height: 4px;
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }
  
  input:checked + .toggle .star--3 {
    width: 2px;
    height: 2px;
    -webkit-transform: translate3d(-7px, 0, 0);
            transform: translate3d(-7px, 0, 0);
  }
  
  input:checked + .toggle .star--4, input:checked + .toggle .star--5, input:checked + .toggle .star--6 {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  
  input:checked + .toggle .star--4 {
    -webkit-transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  input:checked + .toggle .star--5 {
    -webkit-transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  input:checked + .toggle .star--6 {
    -webkit-transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
   

nav .ul {
    display: flex;
}

nav .ul .s {
    margin-left: 30px;
}

nav .ul .li {
    font-size: 25px;
    transition: transform .3s ease-out;
}

nav .ul .li:hover {
    transform: scale(1.1);
}

nav .ul .a  {
    color: #000;
}

/* --------------------------------------------- */

.viewport {
    width: 100%;
    padding: 0 10em;
    padding-top: 20px;
    transition: background .3s ease-out;
}

.viewport .img {
    width: 100%;
    height: 80vh;
    background: url("https://images.unsplash.com/photo-1628358011826-7f3b8724239f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    padding: 50px;
    position: relative;
    z-index: 1;
}

.viewport .img::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.viewport .img .text-content h1{
    font-size: 4.5em;
    color: #fff;
    margin-bottom: 50px;
}

.viewport .img .text-content p {
    color: #fff;
}

.resena {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.resena-content {
    width: 80%;
    display: flex;
    background: #c4c4c4;
    border-radius: 20px;
    padding: 10px;
}

.resena .cara img{
    width: 100px;
    border-radius: 50%;
    border: 2px solid black;
}

.resena .resena-content .text-area {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-left: 20px;
}

.resena .resena-content .text-area .stars {
    margin-top: 5px;
    margin-left: 5px;
}

.resena .resena-content .text-area .stars i {
    color: #fffb00;
}

.resena .resena-content .text-area .message {
    margin-top: 10px;

}

.resena .resena-content .text-area .message p {
}

.resena .resena-content .text-area .name h2{
    font-size: 30px;
    font-weight: 400;
}


/* ------------------------------ */

.ads {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: 20px 0;
    grid-gap: 10px;
}

.ads article {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    padding: 20px;
    border-radius: 5px;
}

.ads .procesadores {
    background: url("https://images.unsplash.com/photo-1611275484845-52a71f2b0a6a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ads .ratones-gaming {
    background: url("https://images.unsplash.com/photo-1563297007-0686b7003af7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ads .teclados-gaming {
    background: url("https://images.unsplash.com/photo-1520092352425-9699926a9b0b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ads article p {
    color: #fff;
}

.ads article .title {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.ads article .title h2 {
    color: #fff;
    font-size: 30px;
}


/* ----- */

.oscuro {
    background: #353535;
    color: #fff;
}

.claro {
    background: #fff;
    color: #000;
}

.text-claro {
    color: #000;
}

.text-oscuro {
    color: #fff;
}

/* ----- */